.topNavWrapper{
    width:100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index:100;
    transition: background-color 0.25s;

}

.topNav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding-top:15px;
}


.topNav p{
    margin: 0;
}

.topNav a{
    text-decoration: none;
}

.topNav .navLinks a{
    padding: 10px;
    opacity: 0.5;
}

.topNav .navLinks a:hover{
    opacity: 1;
}