/* users previous toggle settings (LIGHT) */
:root {
  --font-color: #333333;
  --tag-color:   #9c9c9c;
  --background-color: #f2f2f2;
  --link-color: #696969;
  --project-color: #f7f7f7;
  --name-block: #a6e0ca;
}

/* user browser preference (DARK) */
[data-theme="dark"] {
  --font-color: #ffffff;
  --background-color: #1e1e1e;
  --tag-color:   #7a7a7a;
  --link-color: #9e9e9e;
  --project-color: #353535;
  --name-block: #6aad93;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

li {
  color: var(--link-color);
}

.projectCard{
  background-color: var(--project-color)
}

.projectTags{
  color: var(--tag-color)
}

#name:after{
  background: var(--name-block);
}

.about{
  background-color: var(--project-color)
}

/* toggle button css */
.toggle-theme-wrapper {
  top: 0;
  margin-top: 10px;
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: dimgrey;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
