body {
  font-family: 'Helvetica Neue',
    sans-serif;
}

.titleWrapper{
  margin: auto;
  width:75%;
}

.titleHeader{
  font-size: 48px;
}

.nav{
  display: flex;
  list-style-type: none;
  font-size: 20px;
  margin-left: -40px;
}

.nav li{
  margin-right: 10px;
}