@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter',
    sans-serif;
  transition: background-color 0.25s;
}

p {
  font-weight: 400;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  margin-bottom: 10px;
  transition: 0.25s;

}

button:hover{
  opacity: 0.40;
}

.nav a{
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.titleWrapper{
  margin: auto;
  width:75%;
}

.name{
  margin-bottom: -25px;
}
.titleHeader{
  font-size: 50px;
  font-family: 'Inter', sans-serif;  
  font-weight: 700;
  transition: 0.25s;
}

.nav{
  display: flex;
  list-style-type: none;
  font-size: 18px;
  margin-left: -40px;
  flex-wrap: wrap;
}

.nav li{
  margin-right: 20px;
  /* color: #555555; */
}

a{
  transition: 0.25s
}

a:hover{
  opacity: 0.40;
}

.imglink:hover{
  opacity: 1;
}

.projectsContainer{
  margin: auto;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectsTitle{
  font-size: 36px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:30px;
}

.projectCard{
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 16px 0px rgba(0,0,0,0.1);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
  top: 0;
  transition: top 0.25s ease-in-out, box-shadow 0.25s ease-in-out, background-color 0.2s,
}

.projectCard:hover{
  top: -10px;
  box-shadow: 0 25px 16px 0px rgba(0,0,0,0.1);

}

.projectCard img{
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.projectTextWrapper{
  padding: 0px 20px 80px 20px;
  transition: color 0.25s

}

.projectTags{
  margin-top: -20px;
  font-size: 12px;
}

.projectDescription{
  white-space: pre-line;
  font-size: 14px;
}

.projectLinks{
  text-align: center;
  font-size: 12px;
  margin-bottom: auto;
  position: absolute;
  bottom: 10px;
  width: 90%;
  margin: auto;
}

.projectLinks a{
  color: inherit;
}

.about {
  width: 75%;
  margin: auto;
  margin-top: 30px;
}

.aboutTitle{
  font-size: 36px;
  display: flex;
  margin-bottom: 20px
}

.aboutMe{
  font-size: 16px;
  align-items: center;
  /* flex-wrap: wrap; */
}
.about span:first-child{
  font-weight: bold;
}

.aboutImg{
  width: 250px;
  border-radius: 50%;
  float:right;
  margin-top:20px;
  margin-right: -60px;
  margin-left: 80px;
  box-shadow: 0 25px 16px 0px rgba(0,0,0,0.1);

}

.about a{
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid;
  color: inherit;
}

#social{
  font-size: 18px;
  margin-top: 40px;
}

#social a{
  padding-bottom: 2px;
  border-bottom: 2px solid;
  margin-bottom: 10px;
}

.footer{
  width: 50%;
  margin: auto;
  margin-top:100px;
  margin-bottom:20px;
  text-align: center;
  color: #9b9b9b;
  font-size: 12px;
}

#name{
  position:relative;
  line-height:.9;
  text-align:center;
   /*white-spcae:nowrap;It may need this */
}
#name:after{
  content:"";
  /* background:#a6e0ca; */
  /* background: #6aad93; */
  position:absolute;
  left:0px;
  right:0px;
  top:40px;
  bottom:0;
  height:30%;
  z-index:-1;
  transition: 0.25s 
}

#pin{
  height: 0.75em;
  margin-left: -110px;
  margin-right: -110px;
}

@media only screen and (max-width: 1000px) {
  .aboutImg{
    display: none;
  }
}

.icon{
  text-decoration: none;
  color: #9b9b9b;
  margin-right: 10px;
}

.socialIcons{
  margin-bottom: 10px;
}


