@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter',
    sans-serif;
}

p {
  font-weight: 400;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  margin-bottom: 10px;
  transition: 0.15s;

}

button:hover{
  opacity: 0.40;
}

.nav a{
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.titleWrapper{
  margin: auto;
  width:75%;
}

.name{
  margin-bottom: -25px;
}
.titleHeader{
  font-size: 68px;
  font-family: 'Inter', sans-serif;  
  font-weight: 700;

}

.nav{
  display: flex;
  list-style-type: none;
  font-size: 22px;
  margin-left: -40px;
}

.nav li{
  margin-right: 20px;
  /* color: #555555; */
}

a{
  transition: 0.15s
}

a:hover{
  opacity: 0.40;
}

.projectsContainer{
  width: 75%;
  margin: auto;
  margin-top: 50px;
  display: flex;
}

.projectsTitle{
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.projectCard{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 16px 0px rgba(0,0,0,0.1);
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  transition: margin 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.projectCard:hover{
  margin-top: -12px;
  margin-bottom: 12px;
  box-shadow: 0 25px 16px 0px rgba(0,0,0,0.1);

}

.projectCard img{
  margin: auto;
  margin-bottom: -4px;
  width: 100%;
  min-width: 300px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}

.projectTextWrapper{
  padding: 0px 20px 80px 20px

}

.projectTags{
  margin-top: -20px;
  font-size: 12px;
  color: #616161;
}

.projectDescription{
  white-space: pre-line;
  font-size: 14px;
}

.projectLinks{
  text-align: center;
  font-size: 12px;
  margin-bottom: auto;
  position: absolute;
  bottom: 10px;
  left: 95px;
}

.projectLinks a{
  color: inherit;
}

.about {
  width: 75%;
  margin: auto;
  margin-top: 80px;
}

.aboutTitle{
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.aboutMe{
  font-size: 20px;
}
.about span:first-child{
  font-weight: bold;
}

.aboutImg{
  width: 300px;
  border-radius: 50%;
  float:left;
  margin-right: 40px;
  margin-bottom: 20px;
  box-shadow: 0 25px 16px 0px rgba(0,0,0,0.1);

}

.about a{
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid;
  color: inherit;
}

#social{
  font-size: 24px;
  margin-top: 60px;
}

#social a{
  padding-bottom: 2px;
  border-bottom: 2px solid;
  margin-bottom: 10px;
}

.footer{
  width: 50%;
  margin: auto;
  margin-top:60px;
  margin-bottom:20px;
  text-align: center;
  color: #555555;
}